<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Controller.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Genre</servlet-name>
        <servlet-class>Controller.Genre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>Controller.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Novel</servlet-name>
        <servlet-class>Controller.Novel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chapter</servlet-name>
        <servlet-class>Controller.Chapter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSetting</servlet-name>
        <servlet-class>Controller.UserSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>Controller.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sort</servlet-name>
        <servlet-class>Controller.Sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>Controller.AdminNewNovel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminNewChapter</servlet-name>
        <servlet-class>Controller.AdminNewChapter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Genre</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/verifycode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Novel</servlet-name>
        <url-pattern>/novel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chapter</servlet-name>
        <url-pattern>/chapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSetting</servlet-name>
        <url-pattern>/usersetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sort</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/adminnewnovel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminNewChapter</servlet-name>
        <url-pattern>/adminnewchapter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
