USE [master]
GO
/****** Object:  Database [PRJ301_SE1624]    Script Date: 7/19/2022 11:10:32 AM ******/
CREATE DATABASE [PRJ301_SE1624]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_SE1624', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_SE1624.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_SE1624_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_SE1624_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_SE1624].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_SE1624]
GO
/****** Object:  Table [dbo].[Chapter_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter_HE160853](
	[id] [int] NOT NULL,
	[novel_id] [int] NOT NULL,
	[chapter_number] [int] NOT NULL,
	[chapter_title] [nvarchar](200) NULL,
	[view] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[date] [date] NOT NULL,
 CONSTRAINT [PK_Chapter_HE160853] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterComment_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterComment_HE160853](
	[chapter_id] [int] NOT NULL,
	[user] [nvarchar](50) NOT NULL,
	[comment] [nvarchar](max) NOT NULL,
	[date] [date] NOT NULL,
	[time] [timestamp] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Follow_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Follow_HE160853](
	[user] [nvarchar](50) NOT NULL,
	[novel_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre_HE160853](
	[id] [nvarchar](10) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre_HE160853] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListGenreOfNovel_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListGenreOfNovel_HE160853](
	[novel_id] [int] NOT NULL,
	[genre_id] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Novel_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Novel_HE160853](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[image] [nvarchar](max) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[infor] [nvarchar](max) NOT NULL,
	[date] [date] NOT NULL,
	[follow] [int] NOT NULL,
 CONSTRAINT [PK_Novel_HE160853] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionList_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionList_HE160853](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_QuestionList_HE160853] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReadList_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadList_HE160853](
	[chapter_id] [int] NOT NULL,
	[user] [nvarchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[time] [timestamp] NULL,
PRIMARY KEY CLUSTERED 
(
	[chapter_id] ASC,
	[user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_HE160853]    Script Date: 7/19/2022 11:10:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_HE160853](
	[user] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[password_2] [nvarchar](50) NOT NULL,
	[level] [int] NOT NULL,
	[exp] [int] NOT NULL,
	[ques_id] [int] NOT NULL,
	[ans] [nvarchar](200) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[image] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_User_HE160853] PRIMARY KEY CLUSTERED 
(
	[user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChapterComment_HE160853] ([chapter_id], [user], [comment], [date]) VALUES (11, N'abc1', N'Truyện hay quá! Mong nhanh ra thêm chap ạ!!!', CAST(N'2021-01-01' AS Date))
INSERT [dbo].[ChapterComment_HE160853] ([chapter_id], [user], [comment], [date]) VALUES (11, N'abc12', N'Wa nà đỉnk ạ!', CAST(N'2021-05-06' AS Date))
INSERT [dbo].[ChapterComment_HE160853] ([chapter_id], [user], [comment], [date]) VALUES (11, N'abc123', N'Quá ghê gớm!!!', CAST(N'2022-07-12' AS Date))
GO
INSERT [dbo].[Follow_HE160853] ([user], [novel_id]) VALUES (N'abc123', 7)
INSERT [dbo].[Follow_HE160853] ([user], [novel_id]) VALUES (N'abc123', 22)
INSERT [dbo].[Follow_HE160853] ([user], [novel_id]) VALUES (N'abc123', 13)
GO
INSERT [dbo].[Genre_HE160853] ([id], [name]) VALUES (N'CK', N'Cạnh Kỹ')
INSERT [dbo].[Genre_HE160853] ([id], [name]) VALUES (N'DN', N'Đồng Nhân')
INSERT [dbo].[Genre_HE160853] ([id], [name]) VALUES (N'DS', N'Dã Sử')
GO
INSERT [dbo].[ListGenreOfNovel_HE160853] ([novel_id], [genre_id]) VALUES (1, N'CK')
INSERT [dbo].[ListGenreOfNovel_HE160853] ([novel_id], [genre_id]) VALUES (2, N'CK')
INSERT [dbo].[ListGenreOfNovel_HE160853] ([novel_id], [genre_id]) VALUES (3, N'CK')
GO
INSERT [dbo].[QuestionList_HE160853] ([id], [name]) VALUES (1, N'Ca sĩ bạn yêu thích là ai?')
INSERT [dbo].[QuestionList_HE160853] ([id], [name]) VALUES (2, N'Môn thể thao bạn yêu thích nhất là gì?')
INSERT [dbo].[QuestionList_HE160853] ([id], [name]) VALUES (3, N'Ước mơ hồi bé của bạn là gì?')
GO
INSERT [dbo].[ReadList_HE160853] ([chapter_id], [user], [date]) VALUES (11, N'abc1', CAST(N'2021-01-01' AS Date))
INSERT [dbo].[ReadList_HE160853] ([chapter_id], [user], [date]) VALUES (11, N'abc123', CAST(N'2022-07-17' AS Date))
INSERT [dbo].[ReadList_HE160853] ([chapter_id], [user], [date]) VALUES (12, N'abc1', CAST(N'2021-01-01' AS Date))
GO
INSERT [dbo].[User_HE160853] ([user], [password], [name], [password_2], [level], [exp], [ques_id], [ans], [email], [image]) VALUES (N'abc1', N'52200967', N'Danny', N'123456', 0, 0, 1, N'MTP', N'dan2k2cbn@gmail.com', N'/img/user/default.jpg')
INSERT [dbo].[User_HE160853] ([user], [password], [name], [password_2], [level], [exp], [ques_id], [ans], [email], [image]) VALUES (N'abc12', N'123', N'Press F', N'123456', 1, 0, 3, N'Daxua', N'nguyendan032002@gmail.com', N'/img/user/default.jpg')
INSERT [dbo].[User_HE160853] ([user], [password], [name], [password_2], [level], [exp], [ques_id], [ans], [email], [image]) VALUES (N'abc123', N'abc123', N'Đồ Ngốk', N'123456', 1, 0, 1, N'Zed', N'dan2k2cbn@gmail.com', N'/img/user/default.jpg')
GO
ALTER TABLE [dbo].[Chapter_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_Chapter_HE160853_Novel_HE160853] FOREIGN KEY([novel_id])
REFERENCES [dbo].[Novel_HE160853] ([id])
GO
ALTER TABLE [dbo].[Chapter_HE160853] CHECK CONSTRAINT [FK_Chapter_HE160853_Novel_HE160853]
GO
ALTER TABLE [dbo].[ChapterComment_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_ChapterComment_HE160853_Chapter_HE160853] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter_HE160853] ([id])
GO
ALTER TABLE [dbo].[ChapterComment_HE160853] CHECK CONSTRAINT [FK_ChapterComment_HE160853_Chapter_HE160853]
GO
ALTER TABLE [dbo].[ChapterComment_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_ChapterComment_HE160853_User_HE160853] FOREIGN KEY([user])
REFERENCES [dbo].[User_HE160853] ([user])
GO
ALTER TABLE [dbo].[ChapterComment_HE160853] CHECK CONSTRAINT [FK_ChapterComment_HE160853_User_HE160853]
GO
ALTER TABLE [dbo].[Follow_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_Follow_HE160853_Novel_HE160853] FOREIGN KEY([novel_id])
REFERENCES [dbo].[Novel_HE160853] ([id])
GO
ALTER TABLE [dbo].[Follow_HE160853] CHECK CONSTRAINT [FK_Follow_HE160853_Novel_HE160853]
GO
ALTER TABLE [dbo].[Follow_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_Follow_HE160853_User_HE160853] FOREIGN KEY([user])
REFERENCES [dbo].[User_HE160853] ([user])
GO
ALTER TABLE [dbo].[Follow_HE160853] CHECK CONSTRAINT [FK_Follow_HE160853_User_HE160853]
GO
ALTER TABLE [dbo].[ListGenreOfNovel_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_ListGenreOfNovel_HE160853_Genre_HE160853] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genre_HE160853] ([id])
GO
ALTER TABLE [dbo].[ListGenreOfNovel_HE160853] CHECK CONSTRAINT [FK_ListGenreOfNovel_HE160853_Genre_HE160853]
GO
ALTER TABLE [dbo].[ListGenreOfNovel_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_ListGenreOfNovel_HE160853_Novel_HE160853] FOREIGN KEY([novel_id])
REFERENCES [dbo].[Novel_HE160853] ([id])
GO
ALTER TABLE [dbo].[ListGenreOfNovel_HE160853] CHECK CONSTRAINT [FK_ListGenreOfNovel_HE160853_Novel_HE160853]
GO
ALTER TABLE [dbo].[ReadList_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_ReadList_HE160853_Chapter_HE160853] FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter_HE160853] ([id])
GO
ALTER TABLE [dbo].[ReadList_HE160853] CHECK CONSTRAINT [FK_ReadList_HE160853_Chapter_HE160853]
GO
ALTER TABLE [dbo].[ReadList_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_ReadList_HE160853_User_HE160853] FOREIGN KEY([user])
REFERENCES [dbo].[User_HE160853] ([user])
GO
ALTER TABLE [dbo].[ReadList_HE160853] CHECK CONSTRAINT [FK_ReadList_HE160853_User_HE160853]
GO
ALTER TABLE [dbo].[User_HE160853]  WITH CHECK ADD  CONSTRAINT [FK_User_HE160853_QuestionList_HE160853] FOREIGN KEY([ques_id])
REFERENCES [dbo].[QuestionList_HE160853] ([id])
GO
ALTER TABLE [dbo].[User_HE160853] CHECK CONSTRAINT [FK_User_HE160853_QuestionList_HE160853]
GO
USE [master]
GO
